nodered/flows.json
[{"id": "da8a7c5c.25758", "type": "tab", "label": "Drone Data Ingestion", "disabled": false, "info": ""}, {"id": "python_exec", "type": "exec", "z": "da8a7c5c.25758", "command": "python3 /app/dronecan_listener.py", "addpay": false, "append": "", "useSpawn": "true", "timer": "", "winHide": false, "oldrc": false, "name": "Run DroneCAN Listener", "x": 150, "y": 80, "wires": [[ "parse_python_json" ], [], []]}, {"id": "parse_python_json", "type": "json", "z": "da8a7c5c.25758", "name": "Parse JSON", "property": "payload", "action": "", "pretty": false, "x": 370, "y": 80, "wires": [[ "mqtt_publish" ]]}, {"id": "mqtt_publish", "type": "mqtt out", "z": "da8a7c5c.25758", "name": "Publish to MQTT", "topic": "dronedata/esc", "qos": "2", "retain": "false", "broker": "b3f3b4b5.4c0c48", "x": 570, "y": 80, "wires": []}, {"id": "a2b6f8f7.5d4908", "type": "mqtt in", "z": "da8a7c5c.25758", "name": "MQTT Drone Data", "topic": "dronedata/#", "qos": "2", "datatype": "auto", "broker": "b3f3b4b5.4c0c48", "x": 150, "y": 180, "wires": [[ "c9c2e2e4.363d2", "a1b3c4d5.e6f7g8" ]]}, {"id": "c9c2e2e4.363d2", "type": "websocket out", "z": "da8a7c5c.25758", "name": "Broadcast to Dashboard", "server": "a1b2c3d4.5e4d5c", "client": "", "x": 690, "y": 180, "wires": []}, {"id": "a1b3c4d5.e6f7g8", "type": "file", "z": "da8a7c5c.25758", "name": "Archive Live Data", "filename": "/data/logs/full_archive.jsonl", "appendNewline": true, "createDir": true, "overwriteFile": "false", "encoding": "none", "x": 430, "y": 180, "wires": [[ ]] }, {"id": "e5f6g7h8.i9j0k1", "type": "websocket in", "z": "da8a7c5c.25758", "name": "Dashboard Commands", "server": "a1b2c3d4.5e4d5c", "client": "", "x": 160, "y": 300, "wires": [[ "l2m3n4o5.p6q7r8" ]]}, {"id": "l2m3n4o5.p6q7r8", "type": "json", "z": "da8a7c5c.25758", "name": "", "property": "payload", "action": "", "pretty": false, "x": 350, "y": 300, "wires": [[ "s9t0u1v2.w3x4y5" ]]}, {"id": "s9t0u1v2.w3x4y5", "type": "switch", "z": "da8a7c5c.25758", "name": "Route Command", "property": "payload.action", "propertyType": "msg", "rules": [[ {"t": "eq", "v": "replay", "vt": "str"} ]], "checkall": "true", "repair": false, "outputs": 1, "x": 150, "y": 360, "wires": [[ "z6a7b8c9.d0e1f2" ]]}, {"id": "z6a7b8c9.d0e1f2", "type": "change", "z": "da8a7c5c.25758", "name": "Set Filename", "rules": [[ {"t": "set", "p": "filename", "pt": "msg", "to": "payload.file", "tot": "msg"} ]], "action": "", "property": "", "from": "", "to": "", "reg": false, "x": 320, "y": 360, "wires": [[ "a3b4c5d6.e7f8g9" ]]}, {"id": "a3b4c5d6.e7f8g9", "type": "file in", "z": "da8a7c5c.25758", "name": "Read Log File", "filename": "", "format": "utf8", "chunk": false, "sendError": false, "encoding": "none", "x": 490, "y": 360, "wires": [[ "h0i1j2k3.l4m5n6" ]]}, {"id": "h0i1j2k3.l4m5n6", "type": "split", "z": "da8a7c5c.25758", "name": "Split Lines", "splt": "\n", "spltType": "str", "arraySplt": 1, "arraySpltType": "len", "stream": false, "addname": "", "x": 650, "y": 360, "wires": [[ "replay_delay" ]]}, {"id": "replay_delay", "type": "delay", "z": "da8a7c5c.25758", "name": "Replay Delay", "pauseType": "rate", "timeout": "5", "timeoutUnits": "seconds", "rate": "10", "nbRateUnits": "1", "rateUnits": "second", "randomFirst": "1", "randomLast": "5", "randomUnits": "seconds", "drop": false, "x": 800, "y": 360, "wires": [[ "c9c2e2e4.363d2" ]]}, {"id": "b1c2d3e4.f5g6h7", "type": "http in", "z": "da8a7c5c.25758", "name": "Get Log Files", "url": "/api/logs", "method": "get", "upload": false, "swaggerDoc": "", "x": 130, "y": 520, "wires": [[ "g8h9i0j1.k2l3m4" ]]}, {"id": "g8h9i0j1.k2l3m4", "type": "exec", "z": "da8a7c5c.25758", "command": "ls", "addpay": false, "append": "/data/logs", "useSpawn": "false", "timer": "", "winHide": false, "oldrc": false, "name": "List Log Files", "x": 310, "y": 520, "wires": [[ "n5o6p7q8.r9s0t1" ], [], []]}, {"id": "n5o6p7q8.r9s0t1", "type": "function", "z": "da8a7c5c.25758", "name": "Format as JSON", "func": "// Filter out empty lines and full_archive.jsonl\nconst files = msg.payload\n    .split('\n')\n    .filter(file => file.length > 0);\n\nmsg.payload = files;\nreturn msg;", "outputs": 1, "noerr": 0, "initialize": "", "finalize": "", "libs": [], "x": 500, "y": 520, "wires": [[ "u2v3w4x5.y6z7a8", "debug_logs" ]]}, {"id": "debug_logs", "type": "debug", "z": "da8a7c5c.25758", "name": "Log Files Debug", "active": true, "tosidebar": true, "console": false, "tostatus": false, "complete": "payload", "targetType": "msg", "statusVal": "", "statusType": "auto", "x": 700, "y": 560, "wires": []}, {"id": "u2v3w4x5.y6z7a8", "type": "http response", "z": "da8a7c5c.25758", "name": "Send Response", "statusCode": "200", "headers": {"Content-Type": "application/json"}, "x": 700, "y": 520, "wires": []}, {"id": "b3f3b4b5.4c0c48", "type": "mqtt-broker", "name": "Docker MQTT Broker", "broker": "mqtt-broker", "port": "1883", "clientid": "", "usetls": false, "compatmode": true, "keepalive": "60", "cleansession": true, "birthTopic": "", "birthQos": "0", "birthPayload": "", "closeTopic": "", "closeQos": "0", "closePayload": "", "willTopic": "", "willQos": "0", "willPayload": ""}, {"id": "a1b2c3d4.5e4d5c", "type": "websocket-listener", "path": "/ws/data", "wholemsg": "false"}]
